<div>
	<style type="text/css">
		.input-biaya .modal-dialog {
			width: 90%;
		}
	</style>

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">

					</h3>
					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="vm.search">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>

				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th class="has-sort" ng-click="vm.toggleSort('id')">
									No
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-id' && vm.orderBy !== '+id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-id' "></span>
									</span>
								</th>
								<th>Dibayarkan Kepada</th>
								<th>Tanggal</th>
								<th>Nomor BKK</th>
								<th>Kode Kegiatan/Output</th>
								<th>Kode Pusat Biaya</th>
								<th>Uraian</th>
								<!-- <th>Jumlah</th> -->
								<th>Action</th>
							</tr>
							<tr ng-repeat="data in vm.listData | orderBy: vm.orderBy | filter:vm.search">
								<td>{{$index + 1}}</td>
								<td>
									<p ng-repeat="p in data.officers">
										{{p.name}}
									</p>
								</td>
								<td>
									{{ data.date_service_cost_approve }}
								</td>
								<td>
									<p ng-repeat="p in data.officers">
										{{p.kas_reference_number}}
										&nbsp;
										<span 
											ng-show="data.kasCode && data.kasDescription"
											class="glyphicon glyphicon-print"
											style="cursor: pointer;" 
											ng-click="vm.printBuktiKas(p);">
										</span>
									</p>
								</td>
								<td>
									{{data.column_e}}
									<br/>
									{{data.column_f}}
								</td>
								<td>
									{{data.kasCode}}
								</td>
								<td>
									{{ data.kasDescription ? ( data.kasDescription | limitTo:30 ) + ( data.kasDescription.length > 30 ? '...' : '' ) : '' }}
								</td>
								
								<td class="btn-actions">
									<span 
										class="glyphicon glyphicon-remove"
										style="margin-right: 10px;" 
										ng-click="vm.openModal(data, 'confirm-modal.html');"></span>
									<span 
										class="glyphicon glyphicon-pencil"
										style="margin-right: 10px;" 
										ng-click="vm.openModal(data, 'data-modal.html', 'lg', 'input-biaya');"></span>
									<span 
										ng-show="data.kasCode && data.kasDescription"
										class="glyphicon glyphicon-log-in"
										ng-click="vm.openModal(data, 'confirm-to-next-state-modal.html');"></span>
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="data-modal.html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				ng-click="vm.closeModal()">
				<span aria-hidden="true">×</span>
			</button>
			<h4 class="modal-title">Form Entry Bukti Kas</h4>
		</div>
		<div class="modal-body">

			<form role="form">
				<div class="box-body">
					<div class="form-group">
						<label>No. Surat Tugas</label>
						<input type="text" class="form-control" disabled ng-model="vm.formValue.reference_number">
					</div>

					<!-- <div class="form-group"> 
						<label>Tanggal</label>
						<input type="text" class="form-control" disabled ng-model="vm.formValue.start_date">
					</div>-->

					<!-- <div class="form-group">
						<label>Petugas Pembuat Komitmen</label>
						<input type="text" class="form-control" disabled ng-model="vm.formValue.committed_officer">
					</div> -->

					<!-- <div class="form-group"> 
						<label>Bendahara</label>
						<input type="text" class="form-control" disabled ng-model="vm.formValue.treasurer_officer">
					</div>-->

					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>Nomor SPD</th>
									<th>NIP / Nama / Golongan</th>
									<th>Kode Pusat Biaya</th>
									<th>Uraian</th>
									<th>Jumlah</th>
								</tr>
								<tr ng-repeat="o in vm.formValue.officers">
									<td>{{o.reference_number}}</td>
									<td>{{o.officer_id}} / {{o.name}} / {{o.office_class_name}}</td>
									<td>
										<div class="form-group" style="margin-bottom: 0px;" ng-class="{'has-error': vm.hasError['kasCode'] }">
											<select class="form-control" ng-model="vm.formValue.kasCode" >
												<option ng-repeat="option in vm.codes" value="{{option}}">{{option}}</option>
											</select>
										</div>
									</td>
									<td>
										<div class="form-group" style="margin-bottom: 0px;" ng-class="{'has-error': vm.hasError['kasDescription'] }">
											<textarea class="form-control" rows="3" ng-model="vm.formValue.kasDescription"></textarea>
										</div>
									</td>
									<td>
										{{o.totalCostRP}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left btn-flat"
				ng-click="vm.closeModal();">
				Tutup
			</button>
			<button type="button" class="btn btn-primary btn-flat"
				ng-click="vm.submit()">
				Simpan
			</button>
		</div>
	</script>

	<script type="text/ng-template" id="confirm-modal.html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				ng-click="vm.closeModal()">
				<span aria-hidden="true">×</span>
			</button>
			<h4 class="modal-title">Confirmation</h4>
		</div>
		<div class="modal-body">
			<p>Apakah Anda yakin, ingin menghapus data yang dipilih?</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left btn-flat"
				ng-click="vm.closeModal();">
				Batal
			</button>
			<button type="button" class="btn btn-danger btn-flat"
				ng-click="vm.remove()">
				Hapus
			</button>
		</div>
	</script>

	<script type="text/ng-template" id="confirm-to-next-state-modal.html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				ng-click="vm.closeModal()">
				<span aria-hidden="true">×</span>
			</button>
			<h4 class="modal-title">Confirmation</h4>
		</div>
		<div class="modal-body">
			<p>Tolong pastikan semua data sudah benar<br/>anda yakin ingin melanjutkan SPPD ini ?</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left btn-flat"
				ng-click="vm.closeModal();">
				Batal
			</button>
			<button type="button" class="btn btn-success btn-flat"
				ng-click="vm.processToHasilDinas();">
				<span class="glyphicon glyphicon-log-in"></span>
				&nbsp;
				Input Hasil Dinas
			</button>
		</div>
	</script>

</div>