<div class="login-box">
  <div class="login-logo">
	<b>Aplikasi SISFO SPPD</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
	<p class="login-box-msg">Sign in to start your session</p>
	<form>
	  <div class="form-group has-feedback">
		<input type="text" class="form-control" placeholder="Username" ng-model="vm.auth.username" />
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	  </div>
	  <div class="form-group has-feedback">
		<input type="password" class="form-control" placeholder="Password" ng-model="vm.auth.password" />
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	  </div>
	  <div class="row">
		<!-- /.col -->
		<div class="col-xs-4">
		  <button type="button" class="btn btn-primary btn-block btn-flat"
		  	ng-click="vm.login()">Sign In</button>
		</div>
		<!-- /.col -->
	  </div>
	</form>
  </div>
</div>