.body-grey {
	background: #d2d6de;
}

.admin-content .btn-actions span {
	cursor: pointer;
}

.admin-content .has-sort {
	cursor: pointer;
}
.admin-content .has-sort > span {
	float: right;
}
.admin-content .has-sort > span .glyphicon-sort {
	opacity: 0.3;
}

.admin-content .data-provinsi .manage-cities-btn {
	cursor: pointer;
	position: relative;
	top: 3px;
}
.data-provinsi-manage-cities input.city-disable {
	cursor: default !important;
	background: rgb(235, 232, 232) !important;
}
.data-provinsi-manage-cities .action-btn {
	cursor: pointer;
}

.data-mata-anggaran .manage-subBudgets-btn {
	cursor: pointer;
	position: relative;
	top: 3px;	
}
.data-mata-anggaran-subBudgets .btn-actions span {
	cursor: pointer;
}