<div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">
						<!--<button type="button" class="btn btn-block btn-success btn-flat"
							ng-click="vm.openModal(null, 'data-modal.html');">
							<span class="glyphicon glyphicon-plus"></span>
							&nbsp;
							Create
						</button>-->
					</h3>
					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="vm.search">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>

				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th class="has-sort" ng-click="vm.toggleSort('id')">
									No
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-id' && vm.orderBy !== '+id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-id' "></span>
									</span>
								</th>
								<th class="has-sort" ng-click="vm.toggleSort('provinceName')">
									Provinsi
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-provinceName' && vm.orderBy !== '+provinceName' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+provinceName' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-provinceName' "></span>
									</span>
								</th>
								<th class="has-sort" ng-click="vm.toggleSort('officeClassName')">
									Golongan
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-officeClassName' && vm.orderBy !== '+officeClassName' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+officeClassName' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-officeClassName' "></span>
									</span>
								</th>
								<th>
									Uang Harian
								</th>
								<th>
									Biaya Penginapan
								</th>
								<th>Action</th>
							</tr>
							<tr ng-repeat="data in vm.listData | orderBy: vm.orderBy | filter:vm.search">
								<td>{{$index + 1}}</td>
								<td>{{data.provinceName}}</td>
								<td>{{data.officeClassName}}</td>
								<td>
									<div ng-show="!data.editMode">
										{{data.tcRp}}
									</div>
									<div ng-show="data.editMode" class="form-group" style="margin-bottom: 0px;">
										<input type="number" class="form-control input-sm" ng-model="data.tCost" />
									</div>
								</td>
								<td>
									<div ng-show="!data.editMode">
										{{data.lcRp}}
									</div>
									<div ng-show="data.editMode" class="form-group" style="margin-bottom: 0px;">
										<input type="number" class="form-control input-sm" ng-model="data.lCost" />
									</div>
								</td>
								<td class="btn-actions">
									<span ng-show="!data.editMode"
										class="glyphicon glyphicon-pencil"
										ng-click="vm.editCost( data );"
										></span>

									<!--<span ng-show="data.editMode"
										class="glyphicon glyphicon-remove"
										style="margin-right: 10px;" 
										ng-click="vm.cancelEdit( data );"
										></span>-->

									<span ng-show="data.editMode"
										class="glyphicon glyphicon-ok"
										ng-click="vm.saveCost( data );"
										></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>