<div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">
						<button type="button" class="btn btn-block btn-success btn-flat"
							ng-click="vm.openModal(null, 'data-modal.html');">
							<span class="glyphicon glyphicon-plus"></span>
							&nbsp;
							Create
						</button>
					</h3>
					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="vm.search">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>

				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th class="has-sort" ng-click="vm.toggleSort('id')">
									No
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-id' && vm.orderBy !== '+id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-id' "></span>
									</span>
								</th>
								<th class="has-sort" ng-click="vm.toggleSort('name')">
									Nama Pegawai
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-name' && vm.orderBy !== '+name' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+name' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-name' "></span>
									</span>
								</th>
								<th class="has-sort" ng-click="vm.toggleSort('officer_id')">
									NIP
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-officer_id' && vm.orderBy !== '+officer_id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+officer_id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-officer_id' "></span>
									</span>
								</th>
								<th class="has-sort" ng-click="vm.toggleSort('phone_number')">
									No. Telp
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-phone_number' && vm.orderBy !== '+phone_number' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+phone_number' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-phone_number' "></span>
									</span>
								</th>
								<th class="has-sort" ng-click="vm.toggleSort('office_position_id')">
									Jabatan
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-office_position_id' && vm.orderBy !== '+office_position_id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+office_position_id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-office_position_id' "></span>
									</span>
								</th>
								<th class="has-sort" ng-click="vm.toggleSort('office_class_id')">
									Golongan
									<span>
										<span class="glyphicon glyphicon-sort" ng-show=" vm.orderBy !== '-office_class_id' && vm.orderBy !== '+office_class_id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes" ng-show=" vm.orderBy === '+office_class_id' "></span>
										<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show=" vm.orderBy === '-office_class_id' "></span>
									</span>
								</th>
								<th>Action</th>
							</tr>
							<tr ng-repeat="data in vm.listData | orderBy: vm.orderBy | filter:vm.search">
								<!-- <td>{{data.id}}</td> -->
								<td>{{$index + 1}}</td>
								<td>{{data.name}}</td>
								<td>{{data.officer_id}}</td>
								<td>{{data.phone_number}}</td>
								<td>{{data.office_position.name}}</td>
								<td>{{data.office_class.name}}</td>
								<td class="btn-actions">
									<span ng-show="data.imutable !== '1'"
										class="glyphicon glyphicon-pencil"
										ng-click="vm.openModal(data, 'data-modal.html');"
										></span>
									&nbsp;
									<span ng-show="data.imutable !== '1'"
										class="glyphicon glyphicon-remove"
										ng-click="vm.openModal(data, 'confirm-modal.html');"
										></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="data-modal.html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				ng-click="vm.closeModal()">
				<span aria-hidden="true">×</span>
			</button>
			<h4 class="modal-title">Form Entry Pegawai</h4>
		</div>
		<div class="modal-body">

			<form role="form">
				<div class="box-body">
					<!-- <div class="form-group" ng-show="vm.formValue.id"> 
						<label >Id</label>
						<input type="text" class="form-control" placeholder="Enter officer_id" disabled
							ng-model="vm.formValue.id">
					</div> -->

					<div class="form-group" ng-class="{'has-error': vm.hasError['name']}">
						<label >Nama Pegawai</label>
						<input type="text" class="form-control"
							placeholder="Nama Pegawai"
							id="name"
							ng-model="vm.formValue.name">
					</div>

					<div class="form-group" ng-class="{'has-error': vm.hasError['officer_id']}">
						<label >NIP</label>
						<input type="text" class="form-control"
							placeholder="NIP"
							id="officer_id"
							ng-model="vm.formValue.officer_id">
					</div>

					<div class="form-group" ng-class="{'has-error': vm.hasError['phone_number']}">
						<label >No. Telp</label>
						<input type="text" class="form-control"
							placeholder="Nomor Telepon"
							id="phone_number"
							ng-model="vm.formValue.phone_number">
					</div>

					<div class="form-group">
						<label>Jabatan</label>
						<select class="form-control" ng-model="vm.formValue.office_position_id">
							<option ng-repeat="option in vm.listJabatan" value="{{option.id}}">{{option.name}}</option>
						</select>
					</div>

					<div class="form-group">
						<label>Golongan</label>
						<select class="form-control" ng-model="vm.formValue.office_class_id">
							<option ng-repeat="option in vm.listGolongan" value="{{option.id}}">{{option.name}}</option>
						</select>
					</div>
				</div>
			</form>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left btn-flat"
				ng-click="vm.closeModal();">
				Tutup
			</button>
			<button type="button" class="btn btn-primary btn-flat"
				ng-click="vm.submit()">
				Simpan
			</button>
		</div>
	</script>

	<script type="text/ng-template" id="confirm-modal.html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				ng-click="vm.closeModal()">
				<span aria-hidden="true">×</span>
			</button>
			<h4 class="modal-title">Confirmation</h4>
		</div>
		<div class="modal-body">
			<p>Apakah Anda yakin, ingin menghapus data yang dipilih?</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left btn-flat"
				ng-click="vm.closeModal();">
				Batal
			</button>
			<button type="button" class="btn btn-danger btn-flat"
				ng-click="vm.remove()">
				Hapus
			</button>
		</div>
	</script>
</div>